{
    "env": {
        "es6": true,
        "node": true,
        "jest/globals": true
    },
    "extends": [
        "webbylab"
    ],
    "plugins": [
        "jest"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "no-magic-numbers": 0,
        "import/named": 0,
        "import/no-commonjs": 0
    }
}